services:
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    environment:
      - MONGODB_URI=${MONGODB_URI}
    
  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend